$color_1: #818181;
$color_2: #4154f1;
$color_3: #fff;
$background-color_1: #fff;
$primary-title-text-color: #3a8d9d;
$field-border-default: #d9d8d8;
$primary-text-color: #39364f;
$light-blue-bg: #f4f8f8;

.sidepanel {
  width: 450px;
  position: fixed;
  z-index: 9;
  height: 100%;
  top: 55px;
  right: 0;
  background-color: $background-color_1;
  padding-top: 60px;
  border-left: 2px solid #ccc;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform ease-out 0.3s;
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $color_1;
    display: block;
    transition: 0.3s;
    &:hover {
      color: $color_2;
      text-decoration: none;
    }
  }
  .closebtn {
    position: absolute;
    top: -20px;
    right: 15px;
    font-size: 36px;
    color: $color_3;
  }
  p {
    font-size: 14px;
  }
}
.sidepanel.is-open {
  transform: translateX(0);
}
.donate-header {
  background: #39364f;
  margin-top: -54px;
  color: $color_3;
}
.donate-header-program-detail {
  background: #39364f;
  margin-top: 0;
  color: $color_3;
}
.donate-btn {
  border: 1px solid #ccc;
  background: #ccc;
}
.nav-tabs.charity-programs-tab .nav-link.active {
  color: #fff;
  background-color: #39364f;
}
#sidepanel .tab-content {
  height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}
.donation-review-amount {
  text-align: center;
  background-color: rgb(53, 203, 67);
  color: rgb(255, 255, 255);
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(182, 243, 188);
  border-image: initial;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.selected-donation-frequency {
  color: #fff;
  font-size: 0.85rem;
}
.selected-donation-amount {
  font-size: 1.25rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
}
.blink_text {
  animation: blinker 10s infinite;
  -webkit-animation: blinker 10s infinite;
  -moz-animation: blinker 10s infinite;
  color: red;
  font-size: 12px;
}
.program-list {
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
  }

  .create-program-button {
    color: #fff !important;
    background: #39364f !important;
    border-radius: 5px;
    height: 48px;
    border-color: #bfbfbf;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 1px 0 rgb(0 0 0 / 5%);
    min-width: 200px;
  }

  .ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap,
  .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-wrap {
    padding: unset;
  }
  .ant-tabs-tab-active {
    color: $primary-text-color;
    span {
      font-weight: 600 !important;
    }
  }
  .ant-tabs-tab {
    color: #b3b2b2;
    span {
      font-weight: 100;
    }
  }
  .ant-tabs-ink-bar {
    background: $primary-text-color;
  }
  .ant-tabs-tab:hover,
  .ant-tabs-tab:focus {
    color: $primary-text-color;
  }
  .ant-tabs-top > .ant-tabs-nav,
  .ant-tabs-bottom > .ant-tabs-nav,
  .ant-tabs-top > div > .ant-tabs-nav,
  .ant-tabs-bottom > div > .ant-tabs-nav {
    margin: 0;
    background-color: white;
    padding-left: 0%;
  }

  .paddingAlign {
    padding: 50px 50px 14px 50px !important;
  }

  .cardProperty {
    background-color: white !important;
    margin: 3% 3% 0% 4%;
    border-radius: 10px;
  }
  .table-container {
    background: #f4f8f8;
  }
  .projects-table {
    .ant-table-row {
      background: #ffffff;
      box-shadow: 1px 0px 29px -6px rgb(0 0 0 / 20%);
      border-radius: 6px;
      height: 100px;
    }
    table {
      border-collapse: separate;
      border-spacing: 0px 1em;
      background: #f4f8f8;
      td {
        border-bottom: none;
        background: #ffffff;
      }
      th {
        border-bottom: none;
        background: #f4f8f8;
      }
      .ant-progress {
        display: flex;
        flex-direction: column-reverse;
      }
      .ant-progress-show-info .ant-progress-outer {
        padding-right: 0;
      }
      .ant-progress-inner {
        background-color: #e6e5e5;
      }
      .ant-progress-success-bg,
      .ant-progress-bg {
        background-color: $primary-title-text-color;
        height: 10px !important;
      }
      .ant-progress-text {
        margin-left: 0;
        font-size: 10px;
      }
      .banner-active {
        background-color: #ffe0e0;
        min-width: 100px;
        padding: 0.5rem;
        font-size: 13px;
        font-weight: 500;
        border-radius: 6px;
      }
      .banner-draft {
        background-color: #ffeeb5;
        min-width: 100px;
        padding: 0.5rem;
        font-size: 13px;
        font-weight: 500;
        border-radius: 6px;
      }
      .banner-achieved {
        background-color: #ffe0e0;
        min-width: 100px;
        padding: 0.5rem;
        font-size: 13px;
        font-weight: 500;
        border-radius: 6px;
      }
    }
  }
  .ant-avatar {
    display: grid;
    align-items: center;
  }
}
.card {
  .img-sec {
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-color: #f6f6f6;
    border-bottom: 2px solid #f1f1f1;
    position: relative;
    &.height-100 {
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px 8px 0 0;
    }
    .tax-benefit {
      position: absolute;
      top: 0;
      right: 0;
      background: #2fc816;
      font-weight: 700;
      font-size: 14px;
      padding: 2px 10px;
      z-index: 9;
      color: #fff;
      cursor: pointer;
      &.corner {
        border-radius: 0 0 0 10px;
      }
    }
  }
  .description {
    padding: 12px 16px 8px;
    flex-shrink: 1;
    h4 {
      font-weight: 700;
      margin: 0;
      white-space: inherit;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 22px;
      height: 46px;
      font-size: 16px;
    }
  }
  .founder-short {
    border-radius: 50%;
    margin-right: 10px;
    height: 32px;
    min-width: 32px;
    max-width: 32px;
    color: #423b7d;
    background-color: #f2f2f2;
    display: -moz-box;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .founder {
    margin-bottom: 0;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 0.3);
    display: flex;
    -moz-box-align: center;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
    height: 32px;
    padding: 16px;
  }
  .campaign {
    padding: 0 16px 16px;
    .campaign-heading {
      margin-bottom: 6px;
      color: #999;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .campaign-raised {
      color: #111;
      font-size: 16px;
      font-weight: 700;
    }
    .days-donations {
      display: flex;
      -moz-box-align: center;
      align-items: center;
      -moz-box-pack: justify;
      justify-content: space-between;
      margin-top: 16px;
      .days {
        width: 46%;
        font-weight: 600;
        background: #f3fafc;
        border-radius: 4px;
        padding: 4px 10px;
      }
      .donations {
        width: 46%;
        font-weight: 600;
        display: flex;
        -moz-box-align: center;
        align-items: center;
        -moz-box-pack: center;
        justify-content: center;
      }
      .button {
        width: 46%;
        text-align: center;
        padding: 6px 12px;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 4px;
        text-decoration: none;
      }
    }
  }
  .detail-label {
    font-weight: 700;
    display: block;
    font-size: 16px;
  }
  .detail-content {
    font-size: 15px;
    font-weight: 400;
  }
}
.donor {
  display: inline-block;
  padding: 16px 0;
  width: 100%;
  max-width: 320px;
  .section {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    img {
      height: 60px;
      border-radius: 50%;
    }
    .name-circle {
      border-radius: 50%;
      width: 60px;
      height: 60px;
      padding: 8px;
      border: 2px solid #E9ECF3;
      color: #648ca9;
      background: #E9ECF3;
      text-align: center;
      font: 25px Arial, sans-serif;
      line-height: inherit;
      font-weight: 600;
    }
    .content {
      flex-grow: 1;
      margin-left: 10px;
      h5,
      p {
        line-height: 22px;
      }
      .donated {
        color: #9b9b9b;
        margin-bottom: 0;
        letter-spacing: 0;
        font-weight: 600;
      }
      .timeline {
        margin: 0;
        font-style: italic;
        color: #cbcbcb;
      }
    }
  }
}
.categotyButton {
  padding-right: 0px;
  padding-left: 15px;
  min-width: 35%;
  label {
    border-color: #3a8d9d !important;
    box-shadow: none;
    &.purposePreview {
      width: 100% !important;
      height: 100% !important;
      text-align: left;
      padding: 8px;
      border-radius: 6px !important;
      color: #a7a5a5;
      background-color: transparent !important;
      &.active {
        color: #3a8d9d;
        // font-weight: 600;
        background: #f3f8f9 !important;
      }
    }
    &:hover {
      color: #3a8d9d !important;
    }
  }
}
.detail-payment {
  position: fixed;
  top: 10px !important;
  z-index: 100 !important;
  transform: translate3d(0px, 40px, 0px) !important;
  right: 0;
  background: #fff;
  width: 400px;
}
.detail-tab .ant-tabs-nav-wrap {padding: 0 !important;}
#payment-section{border: 1px solid #39364f;}
@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
