.social-organization .card img {
  max-width: 120px;
}
.social-organization .card h2 {
  font-size: 18px;
  font-weight: 700;
  color: #2c384e;
  margin: 10px 0 0 0;
}
.social-organization .card .info {
  font-size: 14px;
  font-weight: 700;
  color: #2c384e;
  margin: 8px 0 0 0;
}
.social-organization .card h3 {
  font-size: 18px;
}
.social-organization .card .social-links a {
  font-size: 20px;
  display: inline-block;
  color: rgba(1, 41, 112, 0.5);
  line-height: 0;
  margin-right: 10px;
  transition: 0.3s;
}
.social-organization .card .social-links a:hover {
  color: #012970;
}
.social-organization .overview .row {
  margin-bottom: 20px;
  font-size: 15px;
}
.social-organization .overview .card-title {
  color: #012970;
}
.social-organization .overview .label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.social-organization .edit label {
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
}
.social-organization .edit img {
  max-width: 120px;
}