.sidepanel {
  width: 450px;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 55px;
  right: 0;
  background-color: #fff;
  padding-top: 60px;
  border-left: 2px solid #ccc;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform ease-out 0.3s;
}
.sidepanel.is-open {
  transform: translateX(0);
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #4154f1;
  text-decoration: none;
}
.sidepanel .closebtn {
  position: absolute;
  top: -20px;
  right: 15px;
  font-size: 36px;
  color: #fff;
}
.donate-header {
  background: #2e66cd;
  margin-top: -54px;
  color: #fff;
}
.sidepanel p {
  font-size: 14px;
}
.donate-btn {
  border: 1px solid #ccc;
  background: #ccc;
}
